In [7]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.arange(5*4).reshape((5,4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [17]:
sampler=np.random.permutation(5)
sampler

array([1, 4, 2, 3, 0])

In [18]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3

In [19]:
df.sample(2)

    0   1   2   3
4  16  17  18  19
2   8   9  10  11